.leaflet-control-layers label {
	font-weight: normal;
	font-size: 12px;
	}
.leaflet-control-layers-expanded {
	line-height: 1;
	padding-bottom: 3px;
	padding-top: 3px;
	}
input[type="radio"] {
	margin: 0 0 0;
	}
.info {
	font-size: 12px;
	}
.legend i {
	width: 16px;
	height: 16px;
	}
.legend {
	line-height: 16px;
	}
th, td {
	padding-left: .5em; 
	padding-right: .5em;
}